/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

html {
	height: 100%
}
body {
  height: 70%;
  margin: 0;
  padding: 5%;
}

#search-button-ui {
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 3px;
	box-shadow: 0 2px 6px rgba(0,0,0,.3);
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 22px;
	text-align: center;
}

#search-button-ui:hover {
	border-color: #a9a9a9;
}

#search-button-text {
	color: rgb(25,25,25);
	font-family: "Roboto,Arial,sans-serif";
	font-size: 16px;
	line-height: 38px;
	padding-left: 5px;
	padding-right: 5px;
}